<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="index.css">
    <script src="./vue.js"></script>
</head>
<body>
   <div class="page-top">
        <div class="page-content">
            <h2>2018年学习计划</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加计划：</h3>
        <input 
            placeholder="请输入学习计划并按回车键结束" 
            class="task-input" 
            type="text"
            v-model="todo"
            v-on:keyup.13="addTodo"
        />
        <ul class="task-count" v-show="list.length">
            <li>
            	{{noCheckedLength}}个任务未完成</li>
            <li class="action">
                <a :class="{active:visibility==='all'}" href="#all">所有任务</a>
                <a :class="{active:visibility==='unfinished'}" href="#unfinished">未完成的任务</a>
                <a :class="{active:visibility==='finished'}" href="#finished">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">计划列表：</h3>
        <div class="tasks">

            <span class="no-task-tip" v-show="!list.length">你还没有添加任何计划</span>
            <ul class="todo-list">
                <li class="todo" :class="{completed:item.isChecked,editing: item === editorTodos}" v-for="item in filteredList" >
                
                
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="item.isChecked" />
                        <label @dblclick="editorTodo(item)">{{ item.title }}</label>
                        <button class="destroy" @click="deleteTodo(item)"></button>
                    </div>
                    <input 
                        v-focus="editorTodos === item" 
                        class="edit" 
                        type="text" 
                        v-model = "item.title"
                        @blur="editorTodoed(item)"
                        @keyup.13="editorTodoed(item)"
                        @keyup.esc="cancelTodo(item)"
                    />
                </li>
            </ul>
        </div>
    </div>


<script src="./app.js"></script>

</script>
</body>
</html>